<%- include('../layouts/aHeader'); -%>

        <div class="container tm-mt-big tm-mb-big">
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll">
                        <h2 class="tm-block-title">Orders List</h2>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th scope="col">ORDER ID.</th>
                                    <th scope="col">STATUS</th>
                                    <th scope="col">START DATE</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">VIEW</th>

                                </tr>
                            </thead>
                            <tbody>
                                <% for( let i = 0; i < orders.length; i++ ) { %>
                                    <tr>
                                        <th scope="row"><b>#<%= orders[i]._id %></b></th>
                                        <td>

                                            <% if (orders[i].status === 'Confirmed' || orders[i].status === 'Shipped') { %>
                                                <div class="tm-status-circle pending">
                                                </div><%= orders[i].status %>
                                            <% } else if (orders[i].status === 'Delivered') { %>
                                                <div class="tm-status-circle moving">
                                                </div><%= orders[i].status %>
                                            <% } else { %>
                                                <div class="tm-status-circle cancelled">
                                                </div><%= orders[i].status %>
                                            <% } %>
                                        
                                        </td>
                                        <td><b> <%= new Date(orders[i].orderDate).toLocaleDateString()%></b></td>
                                        <td><b>₹ <%= orders[i].GrandTotal-orders[i].discount %>.00</b></td>
                                        <td><b><a href="/admin/order-details?id=<%= orders[i]._id %>" class="tm-product-delete-link">
                                            <i class="fa fa-eye tm-product-delete-icon"></i>
                                            </a>
                                        </b></td>
                                    </tr>
                                <% } %>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
  

<script>
document.getElementById('navOrders').classList = 'nav-link active'
</script>
<%- include ('../layouts/aFooter') -%>