<%- include('../layouts/aHeader'); -%>
<style>
    .error{
        font-size: 12px;
        color: red;
    }
</style>
        <div class="container">
            <div class="row">
                <div class="col">
                    <p class="text-white mt-5 mb-5">Welcome back, <b>Admin</b></p>
                </div>
            </div>
            <!-- row -->
                <div class="col-12 tm-block-col">
                    <div class="tm-bg-primary-dark tm-block tm-block-taller tm-block-scroll" style="max-height: 602px!important ;">
                        <h2 class="tm-block-title">Orders List</h2>
                        <div class="row">
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <button class="btn btn-primary" onclick="exportToExcel()">DOWLOAD</button>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12">
                                <form action="" id="salesReportForm">
                                    <input type="date" name="startingDate" id="startingDate">
                                    <span class="error" id="startingDate-error"></span><br>
                                    <input type="date" name="endingDate" id="endingDate">
                                    <span class="error" id="endingDate-error"></span><br>
                                    <button class="btn-secondary">submit
                                    </button>
                                </form>
                            </div>
                            <div class="col-lg-4 col-md-6 col-sm-12 d-flex justify-content-end">
                                <button class="btn btn-primary" onclick="demoFromHTML()" style="height: fit-content;">PRINT</button>

                            </div>
                        </div>
                        <table class="table" id="salesTable">
                            <thead>
                                <tr>
                                    <th scope="col">#</th>
                                    <th scope="col">ITEMS</th>
                                    <th scope="col">TOTAL</th>
                                    <th scope="col">DELIVERED DATE</th>
                                    <th scope="col">PLACE</th>

                                </tr>
                            </thead>
                            <tbody id="sales-report-row" class="" style="border-bottom: 3px solid #ffffff;;">
                            <% for( let i = 0; i < sales.length; i++ ) { %>
                                  <tr >

                                        <th scope="row" ><b>#<%= sales[i]._id %></b></th>
                                        <td><b><%= sales[i].products.length  %></b>
                                        </td>

                                        <td><b>₹ <%= sales[i].GrandTotal-sales[i].discount %>.00</b></td>
                                        <td><b><%= new Date(sales[i].deliveredDate).toISOString().slice(0, 10) %></b></td>
                                        <td><b><%= sales[i].shippingAddress.district  %>, <br>
                                            <%= sales[i].shippingAddress.state %>
                                        </b></td>
                                      </tr>
                                        <% } %>
                                      </tbody>

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<script src="https://cdnjs.cloudflare.com/ajax/libs/xlsx/0.16.9/xlsx.full.min.js"></script>

<script>
document.getElementById('navSalesReport').classList = 'nav-link active';

$(document).ready(function() {
    $('#salesReportForm').submit(function(e) {
      e.preventDefault();
  
      var error = false;
  
      // Validate full name
      var startingDate = $('#startingDate').val().trim();
        if (!startingDate) {
          $('#startingDate-error').text('Please enter start Date');
          error = true;
          $('#startingDate')
      } else {
        $('#startingDate-error').text('');
      }
  
      // Validate house name
      var endingDate = $('#endingDate').val();
      if (!endingDate) {
        $('#endingDate-error').text('Please enter in date');
        error = true;
      } else {
        $('#endingDate-error').text('');
      }
  
    
      // Submit the form if no errors
      if (!error) {
        sort();
      }
    });
  });


function exportToExcel() {
  const table = document.getElementById('salesTable');
  const workbook = XLSX.utils.table_to_book(table, {sheet:"Sales Data"});
  const sheetName = workbook.SheetNames[0];
  const worksheet = workbook.Sheets[sheetName];
  worksheet['!protect'] = {
    // Set your protection options here
    selectLockedCells: false, // Allow users to select locked cells
    formatCells: true, // Allow users to format cells
    insertRows: true, // Allow users to insert rows
    insertColumns: true, // Allow users to insert columns
    password: 'mypassword', // Set a password to unlock the sheet
  };
  XLSX.writeFile(workbook, 'sales_data.xlsx');
}

  const form = document.querySelector('#salesReportForm');
function sort(){
 // hide the modal

  const formData = new FormData(form);
  console.log();
  fetch('/admin/sales-report', {
  method: 'POST',
  headers: {
    'Content-Type': 'application/x-www-form-urlencoded'
  },
  body: new URLSearchParams(formData)
})
.then(response => response.json())
.then(data => {
// Get the table body element
var tableBody = $('#sales-report-row');

// Remove all existing rows
tableBody.empty();
if (data.sales.length === 0) {
  var row = $('<tr>');
  row.append($('<th colspan="5" class="text-center text-danger">').html( 'In tis time no orders found'));
  tableBody.append(row);
}else{
  // Iterate over the new data and add rows to the table
  $.each(data.sales, function(index, sale) {
    // Create a new row
    var row = $('<tr>');

    // Add the cells to the row
    row.append($('<th>').html('<b>#' + sale._id + '</b>'));
    row.append($('<td>').html('<b>' + sale.products.length + '</b>'));
    row.append($('<td>').html('<b>$ ' + (sale.GrandTotal - sale.discount) + '.00</b>'));
    row.append($('<td>').html('<b>' + new Date(sale.deliveredDate).toISOString().slice(0, 10) + '</b>'));
    row.append($('<td>').html('<b>' + sale.shippingAddress.district + ',<br>' + sale.shippingAddress.state + '</b>'));


    // Add the row to the table
    tableBody.append(row);
  });     
}

})

.catch(error => {
  console.error(error);
});
}
function kama(){
$('#exampleModal').modal('hide')
    
}
</script>
</body>    
<%- include ('../layouts/aFooter') -%>