<%- include('../layouts/aHeader'); -%>
<div class="container tm-mt-big tm-mb-big">
    <div class="col-12 tm-block-col">
        <div class="tm-bg-primary-dark pt-2">
            <h2 class="tm-block-title text-center">Users List</h2>
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">User NO.</th>
                        <th scope="col">USER NAME</th>                                  
                        <th scope="col">USER MAIL</th>
                        <th scope="col">BLOCK / UNBLOCK</th>
                        <th scope="col">STATUS</th>
                    </tr>
                    </thead>
                    <tbody>
                <% if (users.length > 0) { %>
                    
                    <% for (let i = 0; i < users.length; i++) { %>
                        <tr>
                            <th scope="row"><b><%= i + 1 %></b></th>
                            <td><b><%= users[i].Username %></b></td>
                            <td><b><%= users[i].email %></b></td>
                            <% if (users[i].is_blocked == 0) { %>
                            <td><b>
                                <a href="/admin/home/userData/block-unblock?id=<%= users[i]._id %>" class="" onclick="return confirm('Are you want to Block :<%= users[i].Username %>')">
                                Block</a></td>
                            </b></td>
                            <% if (users[i].is_verified == 0) { %>
                                <td>
                                    <div class="tm-status-circle pending">
                                    </div>Not verified
                                    </td>   
                            <% }else{ %>
                            <td>
                                <div class="tm-status-circle moving">
                                </div>Active
                            </td> 
                            <% } %>                               
                            <% } else { %>
                                <td><b>
                                <a href="/admin/home/userData/block-unblock?id=<%= users[i]._id %>" class="" onclick="return confirm('Are you want to Uublock:<%= users[i].Username %>')">
                                Unblock</a></td>
                                </b></td>
                                <td>
                                <div class="tm-status-circle cancelled">
                                </div>Blocked  
                                </td>

                            <% } %>
                        </tr>
                    <% } %>
                <% } else { %>
                    <tr>
                        <td colspan="4" class="text-danger">Don't have users</td>
                    </tr>
                <% } %>
                </tbody>
            </table>    
        </div>
    </div>
</div>

  <script>
    document.getElementById('navUsers').classList = 'nav-link active';
  </script>

  <%- include('../layouts/aFooter'); -%>

