<%- include('../layouts/Uheader'); -%>

<!-- Shop Section Begin -->
<section class="shop spad">
    <div class="container">
        <div class="row">
            
            <div class="col-lg-12">
                <div class="shop__product__option">
                    <div class="row">
                        <div class="col-lg-4 col-md-4 col-sm-4">
                            <div class="shop__product__option__left">
                                <p>Showing 1–12 of <%= products.length %> results</p>                                       
                            </div>
                        </div>
                    </div>
                </div>

                <div class="shop__sidebar__accordion mb-3">
                    <div class="accordion" id="accordionExample">
                        <form action="" id="productFilter">
                            <div class="row">
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseOne">Categories</a>
                                        </div>
                                        <div id="collapseOne" class="collapse " data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__categories">
                                                    <ul class="nice-scroll" style="	overflow-y: scroll;
                                                    scroll-behavior: smooth;
                                                    ">
                                                        <li><input type="radio" class="mb-3 me-2" name="category" value="all" onclick="filter()"> All</li>
                                                        <% for( let i = 0; i < category.length; i++ ) { %>
                                                            <li><input type="radio" class="mb-3 me-2" name="category" value="<%=category[i]._id%>" onclick="filter()"> <%=category[i].name %></li>  
                                                            <!-- <li><a onclick="categoryFliter('<%=category[i]._id%>')"><%= category[i].name %></a></li> -->
                                                        <% } %>
            
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseTwo">Sort Price</a>
                                        </div>
                                        <div id="collapseTwo" class="collapse " data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__price">
                                                    <ul>
                                                        <li><input type="radio" class="mb-3 me-2" onclick="filter()" name="sort" value="all"> Normal</li>
                                                        <li><input type="radio" class="mb-3 me-2" onclick="filter()" name="sort" value="highestPrice">Highest Price</li>
                                                        <li><input type="radio" class="mb-3 me-2" onclick="filter()" name="sort" value="lowestPrice">Lowest Price</li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-lg-4 col-md-6 col-sm-12">
                                    <div class="card">
                                        <div class="card-heading">
                                            <a data-toggle="collapse" data-target="#collapseThree">Search</a>
                                        </div>
                                        <div id="collapseThree" class="collapse " data-parent="#accordionExample">
                                            <div class="card-body">
                                                <div class="shop__sidebar__price">
                                                    <ul>
                                                        <li>
                                                            <input id="search" class=" text-dark" type="text" name="search"  placeholder="Search" 
                                                            style="height: 45px; width: 90%;"><button style="height: 45px;width: 10%;" type="button" class="bg-white" onclick="filter()"><i class="fas fa-search"></i></button>
                                                        </li>
                                                    </ul>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
                <hr> 
                <div class="row" id="products-row">
                    <% for( let i = 0; i < products.length; i++ ) { %>


                        <div class="col-lg-4 col-md-6 col-sm-12">

                            <div class="product__item">
                                    <div class="product__item__pic" style="background-image: url('product_img/<%= products[i].images[0] %>');" onclick="productView('<%= products[i]._id %>')">             
                                    <!-- <span class="label">New</span> -->
                                    <ul class="product__hover">
                                        <li><a  onclick="addToWishlist('<%= products[i]._id %>')" class='wishlistadd' id="<%= products[i]._id %>"><img src="img/icon/heart.png" alt=""></a></li>
                                        <li><a href="/product-detail?id=<%= products[i]._id %>"><img src="img/icon/search.png" alt=""></i></a></li>
                                    </ul>
                                </div>
                                <div class="product__item__text">
                                    <a href="/product-detail?id=<%= products[i]._id %>"><h6><%= products[i].title %></h6></a>
                                    <!-- <a href="#" class="add-cart">+ Add To Cart</a> -->
                                    <!-- <div class="rating">
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                        <i class="fa fa-star-o"></i>
                                    </div> -->
                                    <h5>₹<%= products[i].price %></h5>
                                    <!-- <div class="product__color__select"> -->
                                        
                                        <div class="product__color__select">
                                            <% for (let j = 0; j < products[i].color.length; j++) { %>
                                                <label for="pc-<%= j+1 %>"  style="background-color:<%= products[i].color[j]%>;">
                                                  <input type="radio" id="pc-<%= i+1 %>-<%= j+1 %>" name="product-color">
                                                </label>
                                              <% } %>
                                        </div>
                                        <!-- <label class="active black" for="pc-2">
                                            <input type="radio" id="pc-2">
                                        </label>
                                        <label class="grey" for="pc-3">
                                            <input type="radio" id="pc-3">
                                        </label> -->
                                    <!-- </div> -->
                                </div>
                            </div>
                        </div>
                        <% } %>
                </div>
                <!-- <div class="row">
                    <div class="col-lg-12">
                        <div class="product__pagination">
                            <a class="active" href="#">1</a>
                            <a href="#">2</a>
                            <a href="#">3</a>
                            <span>...</span>
                            <a href="#">21</a>
                        </div>
                    </div>
                </div> -->
            </div>
        </div>
    </div>
</section>
<!-- Shop Section End -->
    <!-- Modal -->
    <div class="modal fade" id="myModal" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true">
        <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Wishlist</h5>
            </div>
            <div class="modal-body">
            <!-- Response message will be displayed here -->
            </div>
            <div class="modal-footer">
                <h1>           </h1>
            </div>
        </div>
        </div>
    </div>
<!-- Footer Section Begin -->
    <%- include(`../layouts/user-footer`); -%>
<!-- Footer Section End -->

<!-- Search Begin -->
<div class="search-model">
    <div class="h-100 d-flex align-items-center justify-content-center">
        <div class="search-close-switch">+</div>
        <form class="search-model-form">
            <input type="text" id="search-input" placeholder="Search here.....">
        </form>
    </div>
</div>

<% if (user) { %>
    <p style="display: none;" id="nameuser"><%= user.Username %></p>
<% }else{ %>
    <p style="display: none;" id="nameuser"></p>

<% } %>
<script>
    document.getElementById('navShop').classList = 'active'
          
    // function categoryFliter(categoryId){
    //     fetch(`/category-filter?categoryId=${categoryId}`)
    //         .then(response => response.json())
    //         .then(data => {
    //             if(data.success){
    //                 var row = $('#products-row'); 
    //                 $('#products-row').empty();
        
                    
    //                 $.each(data.products, function(index, product) {
    //                     var productCard = $('<div>').addClass('col-lg-4 col-md-6 col-sm-12').html(
    //                         '<div class="product__item">' +
    //                         '<div class="product__item__pic" style="background-image: url(\'product_img/' + product.images[0] + '\');">' +
    //                             '<ul class="product__hover">' +
    //                             '<li><a onclick="addToWishlist(\'' + product._id + '\')" class="wishlistadd" id="' + product._id + '"><img src="img/icon/heart.png" alt=""></a></li>' +
    //                             '<li><a href="/product-detail?id=' + product._id + '"><img src="img/icon/search.png" alt=""></a></li>' +
    //                             '</ul>' +
    //                         '</div>' +
    //                         '<div class="product__item__text">' +
    //                             '<a href="/product-detail?id=' + product._id + '"><h6>' + product.title + '</h6></a>' +
    //                             '<h5>$' + product.price + '</h5>' +
    //                             '<div class="product__color__select">' +
    //                             '</div>' +
    //                         '</div>' +
    //                         '</div>'
    //                     );
    //                     row.append(productCard);
    //                 });
    //             }
    //         })
    //         .catch(error => {
    //             console.error(error);
    //         });
    // }
function filter() {
        const form = document.querySelector('#productFilter');

        // hide the modal

        const formData = new FormData(form);
        fetch('/filter', {
            method: 'POST',
            headers: {
            'Content-Type': 'application/x-www-form-urlencoded'
            },
            body: new URLSearchParams(formData)
        })
        .then(response => response.json())
        .then(data => {
            if(data.success){
                var row = $('#products-row'); 
                $('#products-row').empty();
    
                
                $.each(data.products, function(index, product) {
                    var productCard = $('<div>').addClass('col-lg-4 col-md-6 col-sm-12').html(
                        '<div class="product__item">' +
                            '<div class="product__item__pic" style="background-image: url(\'product_img/' + product.images[0] + '\');" onclick="productView(\'' + product._id + '\')">' +
                            '<ul class="product__hover">' +
                            '<li><a onclick="addToWishlist(\'' + product._id + '\')" class="wishlistadd" id="' + product._id + '"><img src="img/icon/heart.png" alt=""></a></li>' +
                            '<li><a href="/product-detail?id=' + product._id + '"><img src="img/icon/search.png" alt=""></a></li>' +
                            '</ul>' +
                        '</div>' +
                        '<div class="product__item__text">' +
                            '<a href="/product-detail?id=' + product._id + '"><h6>' + product.title + '</h6></a>' +
                            '<h5>₹' + product.price + '</h5>' +
                            '<div class="product__color__select">' +
                            '</div>' +
                        '</div>' +
                        '</div>'
                    );
                    row.append(productCard);
                });
            }
        })
        .catch(error => {
            console.error(error);
            // Handle any errors that occur during the request
        });
    }


</script>
<%- include('../layouts/Ufooter'); -%>